In [1]:
#for loop
#while loop

In [2]:
range(5)           0,1,2,3,4 for(i=0;i<5; i++)
range(1,5)          1,2,3,4
range(1,10,2)       1,3,4,5,7,9

SyntaxError: invalid syntax (2706688832.py, line 1)

In [5]:
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [6]:
for i in range(1,5):
    print(i)

1
2
3
4

In [11]:
for i in range(0,5,2):
    print(i,end=" ")

0 2 4

In [10]:
for i in range(5):
    print("hello world")

hello world
hello world
hello world
hello world
hello world

In [13]:
n=int(input("enter n="))
for i in range(1,11):
    print(n*i)

enter n=2
2
4
6
8
10
12
14
16
18
20

In [3]:
n=int(input("enter n="))
for i in range(1,11):
    print(n, "-",i,"=",n-i)

enter n=3
3 - 1 = 2
3 - 2 = 1
3 - 3 = 0
3 - 4 = -1
3 - 5 = -2
3 - 6 = -3
3 - 7 = -4
3 - 8 = -5
3 - 9 = -6
3 - 10 = -7

In [1]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s + x
print(s)

Enter n = 2
Enter x = 33
Enter x = 4
37

In [ ]:
s =''
n =int(input("enter n="))
for i in range(n):
    x=input("enter x=")
    s=s+x
print(s)

In [1]:
s = ''
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s + name + " " +phone + "\n"
print(s)

Enter n = 2
Enter name = jkhd
Enter phone = 725323
Enter name = dfbhds
Enter phone = 737632
jkhd 725323
dfbhds 737632

In [8]:
bill =''
all_total=0
n =int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phnone=")
    prize=float(input("enter prize="))
    qty=float(input("enter qty="))
    total=prize*qty
    bill= bill+name+" "+phone+" "+str(prize)+" "+str(qty)+ " "+str(total)+"\n"
    all_total=all_total+total
print(bill)
print(all_total)

enter n=2
enter name=apple
enter phnone=737546234782
enter prize=233
enter qty=3
enter name=banana
enter phnone=i367256
enter prize=44
enter qty=3
apple 737546234782 233.0 3.0 699.0
banana i367256 44.0 3.0 132.0

831.0

In [19]:
n=int(input("enter n="))
for i in range(1,11):
    print(n, "*" ,i,"=", n*i)

enter n=2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [20]:
n=int(input("enter n ="))
for i in range(0,12):
    print(n*i)

enter n =22
0
22
44
66
88
110
132
154
176
198
220
242

In [21]:
s=0
n=int(input("enter n ="))
for i in range(n):
    x=int(input("enter x="))
    s=s+x
    print(s)

enter n =2
enter x=22
22
enter x=44
66

In [1]:
s=''
n=int(input("enter n="))
for i in range(n):
    name=(input("enter name ="))
    address=(input("enter address ="))
    s=s+name+""+address+"\n"
    print(s)

enter n=2
enter name =sarita
enter address =bajhang
saritabajhang

enter name =sam
enter address =butwal
saritabajhang
sambutwal

In [20]:
bill= ""
fee=40000
total=0
due=0
n=int(input("enter n ="))
for i in range(n):
    name=input("enter name=")
    address=input("enter address=")
    phn=input("enter phn=")
    department=input("enter department=")
    year_sem=input("enter year_sem=")
    payment=input("enter payment=")
    clz_name=input("enter clz_name=")
    due=int(fee-payment)
    total=int(total+due)
    bill=bill+name+"\n" ""+address+"\n" ""+phn+"\n" ""+department+"\n" ""+year_sem+"\n" ""+payment+"\n" ""+clz_name+"\n" ""+due+"\n" ""+total+"\n"
    print(bill)

enter n =2
enter name=sita
enter address=ktm
enter phn=9876
enter department=science
enter year_sem=3
enter payment=234
enter clz_name=uni

TypeError: unsupported operand type(s) for -: 'int' and 'str'