In [ ]:
#string

In [5]:
a='hello world'
b="hello world"
c='''hello world'''
print(a,b,c)
print(type(a)),(type(b)),(type(c))

hello world hello world hello world
<class 'str'>

(None, str, str)

In [9]:
#index
a="hello world"
print(a[0])
print(a[0:5])
print(a[0:10:2])

h
hello
hlowr

In [10]:
a="hello world"
b=a[0:5]
print(a)
print(b)

hello world
hello

In [4]:
name ="ram"
age=34
add="ktm"
info="hello world i am "+name+"i am from"+add+"i am"+str(age)
print(info)

hello world i am rami am fromktmi am34

In [3]:
#string formatting
name ="ram"
age=34
add="ktm"
info=f"hello world{name}.i am from{add}, i am {age}"
print(info)

'hello worldram.i am fromktm, i am 34'

In [2]:
s=''
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=input("enter age=")
    add=input("enter add=")
    info=f"{name}{age}{add}\n"
    s=s+info
    print(s)

enter n=1
enter name=ram
enter age=22
enter add=ktm
ram22ktm

In [6]:
a="hello world"
print(a[-1:-11:-1])
a[::-1]

dlrow olle

'dlrow olleh'

In [7]:
a[:]

'hello world'

In [15]:
#search in string
a="ram shyam hari sita"
name=input("name=")
if "ram " in a:
    print("yes")
    print(a.count(name))
else:
    print("no")

name=hari
yes
1

In [18]:
#string is unchangedable 
a="ram shyam hari sita"
print(a.lower())
print(a.upper())
print(a)

ram shyam hari sita
RAM SHYAM HARI SITA
ram shyam hari sita

In [22]:
a="RAM shyam hari SITA".lower()
name=input("name=").lower()
if "ram " in a:
    print("yes")
    print(a.count(name))
else:
    print("no")

name=sita
yes
1

In [1]:
a="hello world"
l=len(a)
i=0
while i<l:
    print(a[i],end="")
    i=i+1

hello world

In [3]:
a="RAM shyam hari SITA"
a=a.replace("ram","sita")
print(a)

RAM shyam hari SITA

In [4]:
a.split()

['RAM', 'shyam', 'hari', 'SITA']

In [1]:
a="RAM _shyam _hari _SITA"
a.split("_")

['RAM ', 'shyam ', 'hari ', 'SITA']