In [1]:
#list inside list
l=[[1,2,3],
   [4,5,6],
   [7,8,9]]
print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [2]:
data=[["shyam","16","lalitpur"],
      ["hari","17","ktm"]]
print(data)

[['shyam', '16', 'lalitpur'], ['hari', '17', 'ktm']]

In [1]:
info=[]
n=int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    age=input("enter age=")
    add=input("enter add=")
    info.append([name,age,add])
print(info)

enter n=2
enter name=maya
enter age=23
enter add=ktm
enter name=sita
enter age=33
enter add=ktm
[['maya', '23', 'ktm'], ['sita', '33', 'ktm']]

In [4]:
data=[["shyam","16","lalitpur"],
      ["hari","17","ktm"]],
name = input("enter name= ")
for i in data:
    if name in i:
        print(i)

enter name= hari

In [ ]:
bill =''
all_total=0
n =int(input("enter n="))
for i in range(n):
    name=input("enter name=")
    phone=input("enter phnone=")
    prize=float(input("enter prize="))
    qty=float(input("enter qty="))
    total=prize*qty
    bill,append([i,name,phone,prizw,qty,total])
    all_total=all_total+total
print(bill)
print(all_total)

In [5]:
data=[["shyam","16","lalitpur"],
      ["hari","17","ktm"]],
add = input("enter add= ")
for i in data:
    if name in i:
        print(i)

enter add= ktm

In [3]:
data=[["shyam","16","lalitpur"],
      ["hari","17","ktm"],
      ["sheela","55","butwal"]]
data[0][0] = "sita"
data

[['sita', '16', 'lalitpur'], ['hari', '17', 'ktm'], ['sheela', '55', 'butwal']]

In [ ]:
#wap to creat a matrix
#r=?
#c=?
#x=?

In [5]:
mat=[]
r=int(input("enter r="))
c=int(input("enter c="))
for i in range (r):
    z=[]
    for i in range(c):
        x=int(input("enter x="))
        z.append(x)
        mat.append(z)
        print(mat)

enter r=2
enter c=2
enter x=32
[[32]]
enter x=234
[[32, 234], [32, 234]]
enter x=22
[[32, 234], [32, 234], [22]]
enter x=323
[[32, 234], [32, 234], [22, 323], [22, 323]]