In [ ]:
# list
# tuple
# dict
# set

In [ ]:
# list
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -Mutable

In [1]:
a = [1,2,3,4,5,6,7,8]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [2]:
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
print(b[0])
print(b[0:5])
print(b[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog', 'Fish']
['Apple', 'Cat', 'Fish']

In [3]:
a = [1,2,3,4]
b = [5,6,7,8]
c = a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# append() insert() extend()
l = []
# l = list()
n = int(input('Enter n = '))
for i in range(n):
    x = int(input("Enter x = "))
    l.append(x)
    
print(l)

In [1]:
print("The max value = ",max(l))
print("The min value = ",min(l))
print("The sum = ",sum(l))
l.sort()
print(l)
l.reverse(l)
print(l)

NameError: name 'l' is not defined

In [2]:
a = ["Ball","Cat","Apple","Ant"]
a.sort()
print(a)

['Ant', 'Apple', 'Ball', 'Cat']

In [3]:
a = ["Ball","Cat","Apple","Ant"]
a.insert(1,"cat")
a

['Ball', 'cat', 'Cat', 'Apple', 'Ant']

In [4]:
a = ["Ball","Cat","Apple","Ant"]
b = [1,2,3]
a.extend(b)
print(a)

['Ball', 'Cat', 'Apple', 'Ant', 1, 2, 3]

In [5]:
#update
a = ["Ball","Cat","Apple","Ant"]
a[0] = "ball"
print(a)

['ball', 'Cat', 'Apple', 'Ant']

In [6]:
a = ["Ball","Cat","Apple","Ant"]
a[0:2] = ["ball","cat"]
print(a)

['ball', 'cat', 'Apple', 'Ant']

In [7]:
# del remove() pop()
a = ["Ball","Cat","Apple","Ant"]
del a[0]
print(a)

['Cat', 'Apple', 'Ant']

In [8]:
a = ["Ball","Cat","Apple","Ant"]
del a[0:2]
print(a)

['Apple', 'Ant']

In [9]:
a = ["Ball","Cat","Apple","Ant"]
a.remove('Ball')
print(a)

['Cat', 'Apple', 'Ant']

In [10]:
a = ["Ball","Cat","Apple","Ant","Ball"]
c = a.count("Ball")
for i in range(c):
    a.remove('Ball')
print(a)

['Cat', 'Apple', 'Ant']

In [18]:
a = ["Cat","Apple","Ant","Ball"]
b = a.pop(1)
print(b)

Apple

In [12]:
a = ["Ball","Cat","Apple","Ant","Ball"]
if "Apple" in a:
    print("There is apple")
    print(a.count("Apple"))
else:
    print("There is no apple")

There is apple
1

In [13]:
a = ["Ball","Cat","Apple","Ant","Ball"]
if "Apple" not in a:
    print("There is no apple")
else:
    print("There is apple")
    print(a.count("Apple"))

There is apple
1

In [14]:
a = ["Ball","Cat","Apple","Ant","Ball"]
for i in a:
    print(i)

Ball
Cat
Apple
Ant
Ball

In [15]:
a = ["Ball","Cat","Apple","Ant","Ball"]
l = len(a)
for i in range(l):
    print(a[i])

Ball
Cat
Apple
Ant
Ball

In [16]:
a = ["Ball","Cat","Apple","Ant","Ball"]
l = len(a)
for i in range(l):
    if a[i] == "Ball":
        print(i)

0
4

In [ ]:
# list inside list

In [17]:
l = [[1,2,3],
    [4,5,6],
    [7,8,9]]

print(l)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
data = [['Ram',34,"Kathmandu"],
       ["Shyam",56,"Lalitpur"],
       ["Hari",23,"Lalitpur"]]
print(data)

[['Ram', 34, 'Kathmandu'], ['Shyam', 56, 'Lalitpur'], ['Hari', 23, 'Lalitpur']]

In [ ]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter add = ")
    info.append([name,age,add])
    
print(info)

In [ ]:
data = [['Ram', 89, 'Kathmandu'],
        ['Shyam', 89, 'Bhaktapur'],
        ['Hari', 34, 'Lalitpur']]

name = input("Enter name = ")
for i in data:
    if name in i:
        print(i)

In [ ]:
bill = []
all_total = 0
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = float(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    bill.append([i,name,price,quantity,total])
    all_total = all_total + total
print(bill)
print(all_total)

In [ ]:
# # WAP to create a matrix 
# r = ?
# c = ?
# x = ?
# l = [[1,2,3],
#     [4,5,6],
#     [7,8,9]]

In [ ]:
mat = []
r = int(input('Enter r = '))
c = int(input("Enter c = "))
for i in range(r):
    z = []
    for j in range(c):
        x = int(input("Enter x = "))
        z.append(x)
    mat.append(z)
    
print(mat)

In [8]:
a = [1,2,3,4,5,6,7,8]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.sort()
b.sort()
print(a)
print(b)
a.reverse()
b.reverse

print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8]
['Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']
[8, 7, 6, 5, 4, 3, 2, 1]
['Apple', 'Apple', 'Ball', 'Cat', 'Dog', 'Fish']

In [10]:
#extend be the added the b into a 
a = [1,2,3,4,5,6,7,8]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b.insert(1,"cat")
print(b)

['Apple', 'cat', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']

In [11]:
a = [1,2,3,4,5,6,7,8]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
a.append(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, ['Apple', 'Ball', 'Cat', 'Dog', 'Fish', 'Apple']]

In [17]:
a = [1,2,3,4,5,6,7,8]
b = ["Apple","Ball","Cat","Dog","Fish","Apple"]
b.remove('Ball')
print(b)

['Apple', 'Cat', 'Dog', 'Fish', 'Apple']